@import '../SidePanel/leaflet-sidepanel.css';

:host {
    height: 100%;
    width: 100%;
    background-image: url('/public/images/titanic-route.jpg');
    background-size: cover;  
}
#markersmotionmap {
    margin: auto;
    height: 100%;
    width: 100%;
}

.leaflet-marker-icon.leaflet-interactive.leaflet-zoom-animated {
    border-radius: 40% !important;
}

.sidepanel {
    width: 400px !important;
}

.sidepanel-content-wrapper{
    top: 0 !important;
    padding: 1rem 0 !important;
}

.sidepanel-content {
    padding: 15px 0;
    overflow-y: scroll;
    text-align: center;
    
    img {
        max-width: 380px;
    }
}

