<header>
  <nav class="navbar flex between">
    <div class="flex vert-center">
      <img [routerLink]="'/'" style="cursor: pointer; margin: 0 2rem; height: 75px; border-radius: 8px;"
       src="images/carp_01.jpeg" alt="logo flying carp">
      <h3>GIS-Maps Portfolio
    </h3>
    </div>
    <div class="flex vert-center">
      <button mat-icon-button [matMenuTriggerFor]="arcgismenu" class="listmenu-button  vert-center">
        <mat-icon>more_vert</mat-icon><span>ArcGIS by ESRI </span><mat-icon>map</mat-icon>
      </button>
      <mat-menu #arcgismenu="matMenu">
        <button *ngFor="let item of menuLinks.arcgis" [disabled]="item.disabled"
         [routerLink]="item.routerLink" mat-menu-item>
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </button>
      </mat-menu>

      <button mat-icon-button class="listmenu-button  vert-center" [matMenuTriggerFor]="leafletmenu">
        <mat-icon>more_vert</mat-icon><span> Leaflet </span>
      </button>
      <mat-menu #leafletmenu="matMenu">
        <button *ngFor="let item of menuLinks.leaflet"
         [routerLink]="item.routerLink" mat-menu-item>
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="mapboxmenu" class="listmenu-button  vert-center">
        <mat-icon>more_vert</mat-icon><span> Mapbox</span>
      </button>
      <mat-menu #mapboxmenu="matMenu">
        <button *ngFor="let item of menuLinks.mapbox" [disabled]="item.disabled"
         [routerLink]="item.routerLink" mat-menu-item>
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </button>
      </mat-menu>
    </div>
    <button *ngIf="displayAbout" (click)="clickAbout('1500ms', '1000ms')" mat-fab extended class="about-button">ABOUT</button>
  </nav>
</header>

<article class="map-wrapper">
  <router-outlet></router-outlet>
</article>

<ng-template #aboutModal>
  <mat-dialog-content style="scrollbar-width: none;">
    <mat-card class="about-card" appearance="outlined">
      <mat-card-header>
        <div>
          <img id="avatar-image" src="images/profile.jpg" alt="Odessa Opera theater model">
        </div>
        <mat-card-title>GIS-Maps Portfolio Angular app</mat-card-title>
        <mat-card-subtitle>by Andrey Karpovich <br>karpovich.andrey&#64;gmail.com</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions class="bottom-links">
        <a href="https://github.com/Ktojan/gis-mapping-portfolio-karpovich" target="_blank">Github code</a>
        <a target="_blank" href="https://gis-mapping-portfolio-karpovich.vercel.app/ ">Live Demo</a>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</ng-template>
