<div id="home" class="content">
    <section class="section about">
        <img style="max-width: 75%; height: fit-content;" src="images/about_github.png" alt="about">

        <div class="about-block">
            <h2>About this project</h2>
            <p class="intro">Mapping, GIS is my passion. I like to interconnect valuable data, assets, people with places,
                make them visually clear and precise. 2024 was the year of my introduction into this area, I tried some
                maps services and libs, and this project is my summary portfolio (but still not all of my projects are
                included here).
                Now I'm looking for possibilities to get involved in commercial geospatial services, especially
                with vector type of base maps.
            </p>

            <h2>Connect with me</h2>
            <p class="connect-links">
                <a href="mailto: karpovich.andrey@gmail.com" target="_blank">
                    <img src="https://img.shields.io/badge/Email-D14836?style=for-the-badge&logo=gmail&logoColor=yellow"
                        alt="Email" />
                </a>
                <a href="https://www.linkedin.com/in/andrey-karpovich-345701131" target="_blank">
                    <img src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin&logoColor=white"
                        alt="LinkedIn" />
                </a>
                <a href="https://github.com/Ktojan" target="_blank">
                    <img src="https://img.shields.io/badge/GitHub-black?logo=github&style=for-the-badge" alt="Github" />
                </a>
            </p>
            <img id="geodrop" src="images/MarkusReugels.jpg" alt="Markus Reugels photo of water drop">
        </div>
    </section>
</div>
